fastapi==0.115.6
uvicorn==0.34.0
psycopg[binary]==3.2.4
psycopg_pool==3.2.4
numpy==2.2.1
pydantic==2.10.4
pydantic-settings==2.7.1
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-psycopg==0.51b0
