# Terraform
infra/.terraform/
infra/.terraform*
*.tfstate
*.tfstate.backup
*.tfvars

# Go
gateway/gateway

# Rust
builder/target

# OCaml
validator/_build

# Environment
.env
.env.*

# OS
.DS_Store
google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
